{{!-- This file does not use a partial --}}

{{! Because the structure of the post itself displays more information, I am leaving the partial alone to be used on the homepage.handlebar and we will use this as the post page }}

<article class="post">
  <div class="title"><h1>{{post.title}}</h1></div>
 <br>
  <div class="comment">{{post.post_url}}</div>  
</article>
<article>
  <div class="meta">
    {{post.vote_count}} {{format_plural "like" vote_count}} by {{post.user.username}} on
    {{format_date post.created_at}}
    <a href="/post/{{post.id}}">{{format_plural "comment" post.comments.length}}</a>
  </div>
    <img  src="/upload/{{post.file_name}}">
<p>description: {{post.description}}</p>
</article>


{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

{{!-- <form action="/api/posts/stats/{{post.id}}" enctype="multipart/form-data" method="post"> --}}
  <div class="form-group">
    {{!-- <input type="file" class="form-control-file" name="uploaded_file"> --}}
    <input type="submit" value="add comment" class="btn btn-default">            
  </div>
{{!-- </form>
  <div>
    <button type="submit">Add Comment</button>
  </div> --}}
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}